<div style="text-align:center">
<h1>Thank you, your product is now published!</h1>
<form action="https://www.flamingosheetmusic.com/products/{{link}}">
    <input class="btn" type="submit"  value="View your Product"></input>
</form>
</div>